In [185]:
import argparse
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import ParameterGrid
import csv
import logging

In [336]:
runParams={'tfidf_maxdf':      [0.5],
           'input_file':       ['./data/articles_combined_formattedv2.csv'],
           'story_threshold':  [0.26],
           'process_date':     ['2016-09-01'],
           'parts_of_speech':  [['PROPER', 'VERB']],
           'lemma_conversion': [False],
           'ngram_max':        [3],
           'tfidf_binary':     [False],
           'tfidf_norm':       ['l2'],
           'nlp_library':      ['nltk'],
           'max_length':       [50],
           'stop_words_file':  ['./data/stopWords.txt'],
           'tfidf_mindf':      [2],
           'display_graph':    [True],
           'article_stats':    [False]}

# Use parameter grid even if there is only set of parameters
parameterGrid=ParameterGrid(runParams)

In [337]:
# Load and initialise required NLP libraries
pos_nlp_mapping={}
nl=None
wordnet_lemmatizer=None
nlp=None
if 'spaCy' in runParams['nlp_library']:
    import spacy
    nlp=spacy.load('en')
    pos_nlp_mapping['spaCy']={'VERB':['VERB'],'PROPER':['PROPN'],'COMMON':['NOUN']}
    
if 'nltk' in runParams['nlp_library']:
    import nltk as nl
    if True in runParams['lemma_conversion']:
        from nltk.stem import WordNetLemmatizer
    else:
        wordnet_lemmatizer=None
    pos_nlp_mapping['nltk']={'VERB': ['VB', 'VBD', 'VBG', 'VBN', 'VBP', 'VBZ'],'PROPER':['NNP','NNPS'],'COMMON':['NN','NNS']}

In [356]:
def getInputDataAndDisplayStats(filename,processDate,printSummary=False):
    df = pd.read_csv(filename)
    logging.warning("Length of df before reading: " + str(df.shape[0]))
    df = df.drop_duplicates('content')
    df = df[~df['content'].isnull()]
    df=df[df['content'].str.len()>=200]

    logging.warning("Length of df after >=200 strlen: " + str(df.shape[0]))
    
    
    targetString="(Want to get this briefing by email?"
    df['NYT summary']=df['content'].map(lambda d: d[:len(targetString)]==targetString)
    df=df[df['NYT summary']==False]

    # The following removes a warning that appears in many of the Atlantic articles.
    # Since it is commonly at the beginning, it brings a lot of noise to the search for similar articles
    # And subsequently to the assessment of sentiment
    targetString="For us to continue writing great stories, we need to display ads.             Please select the extension that is blocking ads.     Please follow the steps below"
    df['content']=df['content'].str.replace(targetString,'')

    # This is also for some Atlantic articles for the same reasons as above
    targetString="This article is part of a feature we also send out via email as The Atlantic Daily, a newsletter with stories, ideas, and images from The Atlantic, written specially for subscribers. To sign up, please enter your email address in the field provided here."
    df=df[df['content'].str.contains(targetString)==False]

    # This is also for some Atlantic articles for the same reasons as above
    targetString="This article is part of a feature we also send out via email as Politics  Policy Daily, a daily roundup of events and ideas in American politics written specially for newsletter subscribers. To sign up, please enter your email address in the field provided here."
    df=df[df['content'].str.contains(targetString)==False]

    # More Atlantic-specific removals (for daily summaries with multiple stories contained)
    df=df[df['content'].str.contains("To sign up, please enter your email address in the field")==False]

    # Remove daily CNN summary
    targetString="CNN Student News"
    df=df[df['content'].str.contains(targetString)==False]
    
    # Remove "Yahoo ist Teil von Verizon Media"
    targetString = "Yahoo ist Teil von  Verizon Media"
    df=df[df['content'].str.contains(targetString)==False]
    
    logging.warning("Length after other content filtering: " + str(df.shape[0]))
    
    print("\nArticle counts by publisher:")
    print(df['publication'].value_counts())

    print("\nArticle counts by date:")
    print(df['date'].value_counts())

#     Restrict to articles on the provided input date.
#     This date is considered mandatory for topic clustering but is not required for sentiment
#     since sentiment only processes a specified list of articles.
#     For topic clustering it is essential to have the date as it is
#     enormously significant in article matching.

    if processDate!=None:
        df=df[df['date']==processDate]
    df.reset_index(inplace=True, drop=True)

    # Remove non-ASCII characters
    df.reset_index(inplace=True, drop=True)
    df['content no nonascii']=df['content'].map(lambda x: removeNonASCIICharacters(x))

    print("\nFinal dataset:\n\nDate:",processDate,"\n")
    print(df['publication'].value_counts())
    
    print("\nFinal Dataset Article Count:")
    print(df['date'].value_counts())
    df.to_csv(r'C:\Users\goldm\Capstone\tracking files\getInputDataAndDisplayStats.csv')
    
    return df

##########################################################################################

def removeNonASCIICharacters(textString): 
    return "".join(i for i in textString if ord(i)<128)

In [357]:
articleDataFrame=getInputDataAndDisplayStats(runParams['input_file'][0],
                                             runParams['process_date'][0],
                                             runParams['article_stats'][0])

WARNING:root:Length of df before reading: 795
WARNING:root:Length of df after >=200 strlen: 772
WARNING:root:Length after other content filtering: 764

Article counts by publisher:
Breitbart             104
NY Post                61
Reuters                59
CNN                    58
NPR                    54
                     ...
The Verge               1
The Times of India      1
@ChinaDailyApp          1
PEOPLE.com              1
Forbes                  1
Name: publication, Length: 62, dtype: int64

Article counts by date:
2016-09-01    402
2016-12-02    362
Name: date, dtype: int64

Final dataset:

Date: 2016-09-01

Breitbart         50
Buzzfeed News     35
NY Times          28
NY Post           27
NPR               26
                  ..
The Verge          1
NewsComAu          1
@ChinaDailyApp     1
PEOPLE.com         1
Forbes             1
Name: publication, Length: 62, dtype: int64

Final Dataset Article Count:
2016-09-01    402
Name: date, dtype: int64

In [358]:
getInputDataAndDisplayStats(runParams['input_file'][0],
                            runParams['process_date'][0],
                            printSummary=True)

WARNING:root:Length of df before reading: 795
WARNING:root:Length of df after >=200 strlen: 772
WARNING:root:Length after other content filtering: 764

Article counts by publisher:
Breitbart             104
NY Post                61
Reuters                59
CNN                    58
NPR                    54
                     ...
The Verge               1
The Times of India      1
@ChinaDailyApp          1
PEOPLE.com              1
Forbes                  1
Name: publication, Length: 62, dtype: int64

Article counts by date:
2016-09-01    402
2016-12-02    362
Name: date, dtype: int64

Final dataset:

Date: 2016-09-01

Breitbart         50
Buzzfeed News     35
NY Times          28
NY Post           27
NPR               26
                  ..
The Verge          1
NewsComAu          1
@ChinaDailyApp     1
PEOPLE.com         1
Forbes             1
Name: publication, Length: 62, dtype: int64

Final Dataset Article Count:
2016-09-01    402
Name: date, dtype: int64

,Unnamed: 0,id,publication,date,content,NYT summary,content no nonascii
0,3,21413,NY Times,2016-09-01,Another Earth could be circling the star right...,False,Another Earth could be circling the star right...
1,4,21448,NY Times,2016-09-01,The anodyne welcome letter to incoming freshme...,False,The anodyne welcome letter to incoming freshme...
2,5,21454,NY Times,2016-09-01,"CASETTA, Italy — Romano Camassi, a seismolo...",False,"CASETTA, Italy Romano Camassi, a seismolog..."
3,6,21455,NY Times,2016-09-01,"In the late 1990s, General Motors got an unexp...",False,"In the late 1990s, General Motors got an unexp..."
4,7,21474,NY Times,2016-09-01,"Gene Wilder, who established himself as one of...",False,"Gene Wilder, who established himself as one of..."
...,...,...,...,...,...,...,...
397,115,217533,The Sun,2016-09-01,NANCY Pelosi trolled Trump on Thursday by call...,False,NANCY Pelosi trolled Trump on Thursday by call...
398,116,217534,RT International,2016-09-01,The Capitol Hill press corps found little symp...,False,The Capitol Hill press corps found little symp...
399,117,217535,The Independent,2016-09-01,US House Speaker Nancy Pelosi ’s office has ...,False,US House Speaker Nancy Pelosi s office has g...
400,118,217536,Business Insider,2016-09-01,- Adam Kinzinger told NYT Magazine that he su...,False,- Adam Kinzinger told NYT Magazine that he su...
401,121,217539,TheHill,2016-09-01,U.S. Capitol Police (USCP) will begin to remov...,False,U.S. Capitol Police (USCP) will begin to remov...

In [359]:
## Analyzing if any of the articles were "kicked out"
def listExcludedArticles(articleDataFrame, storyMap):
    excluded_list = []
    for story, storyArticles in storyMap.items():
        for article in storyArticles:
            if article in articleDataFrame['id']:
                pass
            else:
                excluded_list.append(article)
    return excluded_list
#                 print(str(article) + " was excluded from the dataset")
# print(articleDataFrame.shape[0])

In [360]:
def loadStopWords(stopWordsFileName):
    stop_words=[]
    f=open(stopWordsFileName, 'r')
    for l in f.readlines():
        stop_words.append(l.replace('\n', ''))
    return stop_words

stop_words=loadStopWords(runParams['stop_words_file'][0])

In [361]:
def stringNLTKProcess(nl,stringToConvert,partsOfSpeech,stop_words,maxWords=None,lemmatizer=None):
    sentences=nl.sent_tokenize(stringToConvert)
    str=[]
    for sentence in sentences:
        wordString=[]
        for word,pos in nl.pos_tag(nl.word_tokenize(sentence)):
            # The following condition avoids any POS which corresponds to punctuation (and takes all others)
            if partsOfSpeech==None:
                if pos[0]>='A' and pos[0]<='Z':
                    wordString.append(word)
            elif pos in partsOfSpeech:
                wordString.append(word)
        for wrd in wordString:
            wrdlower=wrd.lower()
            if wrdlower not in stop_words and wrdlower!="'s":
                if maxWords==None or len(str)<maxWords:
                    if lemmatizer==None:
                        str.append(wrdlower)
                    else:
                        str.append(lemmatizer.lemmatize(wrd.lower(), pos='v'))
            if maxWords!=None and len(str)==maxWords:
                return ' '.join(str)
    return ' '.join(str)

def removeSpacesAndPunctuation(textString):
    return "".join(i for i in textString if (ord(i)>=48 and ord(i)<=57) or (ord(i)>=97 and ord(i)<=122))

In [362]:
def setupStoryMapAndReportList(args=None, reportArticleList=None,storyMapFileName=None):
    # Story Map is used in fitting if grid search is applied (As ground truth)
    # It is also used in graph if no threshold provided (to determine colours, not to determine location)
    # Report Article List is used at the end to create a report with, for each
    # article in the list, the set of articles within tolerance, and the key words for each
    if args==None:
        articleList=reportArticleList
        fileName=storyMapFileName
    else:
        articleList=args['article_id_list']
        fileName=args['story_map_validation']
    
    reportArticleList=articleList
    if fileName!=None:
        storyMap=readStoryMapFromFile(fileName)
        if reportArticleList==None:
            reportArticleList=[]
            for story, articleList in storyMap.items():
                reportArticleList.append(articleList[0])
    else:
        storyMap=None
    return storyMap,reportArticleList

def readStoryMapFromFile(filename):
    return readDictFromCsvFile(filename,'StoryMap')

def readGridParameterRangeFromFile(filename):
    return readDictFromCsvFile(filename, 'GridParameters')

def readDictFromCsvFile(filename,schema):
    gridParamDict={} 
    with open(filename,'r') as f:
        for row in f:
            row=row[:-1] # Exclude the carriage return
            row=row.split(',')
            key=row[0]
            vals=row[1:]
            
            if schema=='GridParameters':
                if key in ['story_threshold','tfidf_maxdf']:
                    finalVals=list(float(n) for n in vals)
                elif key in ['ngram_max','tfidf_mindf','max_length']:
                    finalVals=list(int(n) for n in vals)
                elif key in ['lemma_conversion','tfidf_binary']:
                    finalVals = list(str2bool(n) for n in vals)
                elif key in ['parts_of_speech']:
                    listlist=[]
                    for v in vals:
                        listlist.append(v_split('+'))
                    finalVals = listlist
                elif key in ['tfidf_norm','nlp_library']:
                    finalVals=vals
                else:
                    print(key)
                    print("KEY ERROR")
                    return
            elif schema == 'StoryMap':
                finalVals = list(int(n) for n in vals if n!='')
            else:
                print(schema)
                print('SCHEMA ERROR')
                return
            
            gridParamDict[key]=finalVals
    return gridParamDict

In [363]:
storyMap,reportArticleList=setupStoryMapAndReportList(storyMapFileName='storyMapForValidation_expanded.csv')

In [364]:
for story, articleList in storyMap.items():
    print(story,":",articleList)

Trump meeting : [151832, 110126, 172078, 48306, 57365, 190512, 26536, 71335, 21499, 23872, 142033, 110133, 23888, 71336, 57366, 71339]
Brazil impeachment : [120639, 80103, 25225, 21502, 57362, 120636, 110141]
Kaepernick : [40617, 40543, 39520, 80109, 80101, 47403]
Clinton Guccifer : [214888, 85803, 47979]
Farage : [37252, 37468, 46175]
Anthony Weiner : [49480, 110144, 142300, 214934]
SpaceX : [38658, 134545, 172095, 214894]
Safe space : [21448, 78169, 78171]
Lauer debate : [43447, 47078, 138709]
Venezuela : [172079, 57375, 190522]
Iran deal : [158005, 48823, 57373, 120634]
Penn State : [80094, 157527, 214892]
David Brown : [172085, 80096, 141886]
haiti AND president : [217418, 217419, 217420, 217421, 217422, 217423, 217424, 217425, 217426, 217427, 217428, 217429, 217430, 217431, 217432, 217433, 217434, 217435, 217436, 217437, 217438, 217439, 217440, 217441]
inflation AND economy AND fed : [217490, 217491, 217492, 217493, 217494, 217495, 217496, 217497, 217498, 217499, 217500, 217501, 217502, 217504, 217505, 217506, 217507, 217508, 217509, 217510, 217511, 217513, 217514]
afghanistan AND war AND end : [217442, 217443, 217444, 217445, 217446, 217447, 217448, 217449, 217450, 217451, 217452, 217453, 217454, 217455, 217456, 217457, 217458, 217459, 217460, 217461, 217462, 217463, 217464, 217465]
capitol AND riot AND trump : [217517, 217519, 217520, 217521, 217522, 217523, 217524, 217526, 217527, 217528, 217529, 217530, 217531, 217532, 217533, 217534, 217535, 217536, 217539]
critical AND race AND theory : [217466, 217467, 217468, 217469, 217470, 217471, 217472, 217473, 217474, 217475, 217476, 217477, 217478, 217481, 217482, 217483, 217484, 217485, 217486, 217487, 217488, 217489]

In [365]:
## print out whether any of the labeled articles have been excluded
excluded_list = listExcludedArticles(articleDataFrame,storyMap)
for story, articleList in storyMap.items():
    print(story,":",[article for article in articleList if article in list(articleDataFrame['id'])])
print(172078 in list(articleDataFrame['id']))

Trump meeting : [151832, 110126, 172078, 48306, 57365, 190512, 26536, 71335, 21499, 23872, 142033, 110133, 23888, 71336, 57366, 71339]
Brazil impeachment : [120639, 80103, 25225, 21502, 57362, 120636, 110141]
Kaepernick : [40617, 40543, 39520, 80109, 80101, 47403]
Clinton Guccifer : [214888, 85803, 47979]
Farage : [37252, 37468, 46175]
Anthony Weiner : [49480, 110144, 142300, 214934]
SpaceX : [38658, 134545, 172095, 214894]
Safe space : [21448, 78169, 78171]
Lauer debate : [43447, 47078, 138709]
Venezuela : [172079, 57375, 190522]
Iran deal : [158005, 48823, 57373, 120634]
Penn State : [80094, 157527, 214892]
David Brown : [172085, 80096, 141886]
haiti AND president : [217418, 217419, 217420, 217421, 217422, 217424, 217425, 217426, 217427, 217428, 217429, 217430, 217431, 217433, 217434, 217435, 217436, 217437, 217438, 217439, 217440, 217441]
inflation AND economy AND fed : [217490, 217492, 217493, 217494, 217495, 217496, 217497, 217498, 217500, 217501, 217502, 217504, 217505, 217506, 217507, 217508, 217509, 217510, 217511, 217513, 217514]
afghanistan AND war AND end : [217442, 217444, 217446, 217447, 217448, 217450, 217451, 217453, 217454, 217455, 217456, 217457, 217458, 217459, 217460, 217461, 217462, 217464, 217465]
capitol AND riot AND trump : [217517, 217519, 217520, 217521, 217522, 217523, 217524, 217526, 217527, 217529, 217530, 217531, 217532, 217533, 217534, 217535, 217536, 217539]
critical AND race AND theory : [217466, 217467, 217468, 217469, 217470, 217471, 217472, 217473, 217474, 217475, 217476, 217477, 217478, 217481, 217482, 217483, 217484, 217485, 217486, 217488]
True

In [366]:
def preprocessAndVectorize(articleDataFrame,args,pos_nlp_mapping,nlp,nl,wordnet_lemmatizer,stop_words):
    # Map the input parts of speech list to the coding required for the specific NLP library
    if args['parts_of_speech'][0]!='ALL':
        partsOfSpeech=[]
        for pos in args['parts_of_speech']:
            partsOfSpeech.append(pos_nlp_mapping[args['nlp_library']][pos])
        partsOfSpeech=[item for sublist in partsOfSpeech for item in sublist]
    else:
        partsOfSpeech=None
    
    # Processing of text depends on NLP library choice
    if args['nlp_library']=='spaCy':
        articleDataFrame['input to vectorizer']=articleDataFrame['content no nonascii'].map(lambda x: stringSpaCyProcess(nlp,
                                                                                                                         x,
                                                                                                                         partsOfSpeech=partsOfSpeech,
                                                                                                                         maxWords=args['max_length'],
                                                                                                                         stop_words=stop_words,
                                                                                                                         lemmatize=args['lemma_conversion']))
    elif args['nlp_library']=='nltk':
        articleDataFrame['input to vectorizer']=articleDataFrame['content no nonascii'].map(lambda x: stringNLTKProcess(nl,
                                                                                                                        x,
                                                                                                                        partsOfSpeech=partsOfSpeech,
                                                                                                                        stop_words=stop_words,
                                                                                                                        maxWords=args['max_length'],
                                                                                                                        lemmatizer=wordnet_lemmatizer))
    else:
        print("PROBLEM... NO VALID NLP LIBRARY... MUST BE nltk OR spaCy")

    # To get default values a couple of parameters need to be not passed if not specified on the command line
    # Passing as None behaves differently to passing no parameter (which would invoke the default value)
    optArgsForVectorizer={}
    if args['tfidf_maxdf'] != None:
        optArgsForVectorizer['max_df']=args['tfidf_maxdf']
    if args['tfidf_mindf'] != None:
        optArgsForVectorizer['min_df']=args['tfidf_mindf']
    # Create and run the vectorize
    vectorizer=TfidfVectorizer(analyzer='word',
                               ngram_range=(1,args['ngram_max']),
                              lowercase=True,
                              binary=args['tfidf_binary'],
                              norm=args['tfidf_norm'],
                              **optArgsForVectorizer)
    tfidfVectors=vectorizer.fit_transform(articleDataFrame['input to vectorizer'])
    terms=vectorizer.get_feature_names()
    logging.warning('tfidfVector shape: '+ str(tfidfVectors.shape)) 
    
    return tfidfVectors, terms

In [397]:

def scoreCurrentParamGuess(tfidfVectors,storyMap,articleDataFrame,threshold,printErrors=False):
    # Work with distances relative to first item in each cluster - even though this is clearly arbitrary since that
    # point could be an outlier in the cluster and hence might cause problems.
    # But I have to start somewhere - and can refine it later if needed.

    nonZeroCoords=initialiseAllNonZeroCoords(tfidfVectors)
    score=0
    outGood=0
    outBad=0
    inGood=0
    inBad=0
     
    #### ---- Richard Modification- adding in code to print out a df of articles in the story map and their respective category       
    final_mapping_list = []
    
    for story, storyArticles in storyMap.items():
        leadArticleIndex=articleDataFrame[articleDataFrame['id']==storyArticles[0]].index[0]
        comparisonArticle = articleDataFrame[articleDataFrame['id']==storyArticles[0]]['id']
        # Compute score of all articles in corpus relative to first article in story (.product)
        # Then count through list relative to threshold (add one for a good result, subtract one for a bad result)
        scores=productRelatednessScores(tfidfVectors,nonZeroCoords,leadArticleIndex)
        rankedIndices=np.argsort(scores)
        foundRelatedArticles=[]
        # THE SORTING HERE IS NOT STRICTLY REQUIRED, BUT I COULD USE IT SO THAT ONCE THE THRESHOLD IS PASSED
        # IN THE LOOP, THEN I INFER THE REMAINING RESULTS
        for article in reversed(rankedIndices):
            thisArticleIndex=articleDataFrame['id'][article]
            if thisArticleIndex in storyArticles:
                if scores[article]>=threshold: # article IS supposed to be in range
                    score+=1
                    inGood+=1
                    #appending the article and its mapping according to the predictions of our model
                    final_mapping_list.append([comparisonArticle, thisArticleIndex, story, 'TP', scores[article]])
                else:
                    score-=1
                    inBad+=1
                    final_mapping_list.append([comparisonArticle, thisArticleIndex, 'No Mapping', story, 'FN', scores[article]])
                    if printErrors:
                        print("ERROR:",thisArticleIndex,"should be in",story)
            else: # article not supposed to be in range
                if scores[article]<=threshold:
                    score+=1
                    outGood+=1
                    final_mapping_list.append([comparisonArticle, thisArticleIndex, 'No Mapping', 'No Mapping', 'TN', scores[article]])
                else:
                    score-=1
                    outBad+=1
                    final_mapping_list.append([comparisonArticle, thisArticleIndex, story, 'No Mapping', 'No Mapping', 'FP', scores[article]])
                    if printErrors:
                        print("ERROR:",thisArticleIndex,"should NOT be in",story)
    
    #### ---- Richard Modification- adding in code to print out a df of articles in the story map and their respective categor
    final_mapping_df = pd.DataFrame(final_mapping_list, columns = ['root_article', 'article_compared', 'predicted_mapping', 'true_mapping"','FP/FN/TP/TN', "score"])
    final_mapping_df = final_mapping_df[final_mapping_df.score != 0]
    final_mapping_df.to_csv("PredictedMappingsv4-storythreshold={}.csv".format(threshold))
    
    scoreDict={'score':score,'inGood':inGood,'inBad':inBad,'outGood':outGood,'outBad':outBad}
    return scoreDict

##########################################################################################

def initialiseAllNonZeroCoords(tfidfVectors):
# This function just exists since it seems to be expensive and I'd rather not call it multiple times
# Hence it is intended to be called outside of loops in order to simplify the row specific processing
    values=[]
    nzc=zip(*tfidfVectors.nonzero())

    # In Python 3 the zip can only be iterated through one time before it is automatically released
    # So need to copy the results otherwise the main loop below will no longer work
    pointList=[]
    for i,j in nzc:
        pointList.append([i,j])		

    for row in range(tfidfVectors.shape[0]):
        rowList=[]
        for i,j in pointList:
            if row==i:
                rowList.append(j)
        values.append(rowList)

    return values

In [368]:
def productRelatednessScores(tfidfVectors,nonZeroCoords,refRow):
    # instantiates a matrix of zeros with tfidVectors.shape[0] rows corresponding to the number of rows in the tfidVectors array
    scores = [0]*tfidfVectors.shape[0]
    for toRow in range(tfidfVectors.shape[0]):
        scores[toRow] = sum([(tfidfVectors[toRow,w]*tfidfVectors[refRow,w]) for w in nonZeroCoords[refRow] if w in nonZeroCoords[toRow]])
    return scores

In [369]:
import nltk; nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\goldm\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [398]:
# Loop across all parameter combinations in grid to determine best set
# If not doing grid search, will just pass through the loop once
bestParamScoreDict={'score':-1000000}
bestParams=parameterGrid[0]
for i,currentParams in enumerate(parameterGrid):
    if len(parameterGrid)>1:
        print("Combination:",i+1,"of",len(parameterGrid))
        print(currentParams)
        
        # Determine tf-idf vectors
        # terms is just used later on if analysis of final results is requested
    tfidfVectors,terms=preprocessAndVectorize(articleDataFrame,
                                              currentParams,
                                              pos_nlp_mapping,
                                              nlp,
                                              nl,
                                              wordnet_lemmatizer,
                                              stop_words)

    # Compute scores if threshold provided (meaning as part of grid search)
    if 'story_threshold' in currentParams and currentParams['story_threshold']!=None:
        scoreDict = scoreCurrentParamGuess(tfidfVectors,storyMap,articleDataFrame,currentParams['story_threshold'])
        print(scoreDict)

        # Update best so far
        if scoreDict['score']>=bestParamScoreDict['score']:
            if len(parameterGrid)>1:
                print(i+1,"is the best so far!")
            bestParams=currentParams
            bestParamScoreDict=scoreDict
    # End grid/parameter loop

WARNING:root:tfidfVector shape: (402, 4182)

{'score': 7064, 'inGood': 80, 'inBad': 82, 'outGood': 7070, 'outBad': 4}

In [210]:
# Set threshold to input value from best (and possibly only) run for use in results analysis
# Unless not specified at all
if 'story_threshold' in bestParams and bestParams['story_threshold']!=None:
    threshold=bestParams['story_threshold']
else:
    threshold=None


# If there was a real parameter grid, then output/refresh results
if len(parameterGrid)>=1:
    print("BEST PARAMETERS:")
    print(bestParams)
    print(bestParamScoreDict)
    scoreCurrentParamGuess(tfidfVectors,storyMap,articleDataFrame,threshold,printErrors=True)
    # Recreate vector for best results in loop
    # terms is just used later on if analysis of final results is requested
    tfidfVectors,terms=preprocessAndVectorize(articleDataFrame,
                                            bestParams,
                                            pos_nlp_mapping,
                                            nlp,
                                            nl,
                                            wordnet_lemmatizer,
                                            stop_words)

BEST PARAMETERS:
{'article_stats': False, 'display_graph': True, 'input_file': './data/articles_combined_formattedv1.csv', 'lemma_conversion': False, 'max_length': 50, 'ngram_max': 3, 'nlp_library': 'nltk', 'parts_of_speech': ['PROPER', 'VERB'], 'process_date': '2016-09-01', 'stop_words_file': './data/stopWords.txt', 'story_threshold': 0.2, 'tfidf_binary': False, 'tfidf_maxdf': 0.5, 'tfidf_mindf': 2, 'tfidf_norm': 'l2'}
{'score': 7356, 'inGood': 86, 'inBad': 95, 'outGood': 7381, 'outBad': 16}
ERROR: 214876 should NOT be in Trump meeting
ERROR: 80098 should NOT be in Trump meeting
ERROR: 78170 should NOT be in Trump meeting
ERROR: 44928 should NOT be in Trump meeting
ERROR: 71339 should be in Trump meeting
ERROR: 85801 should NOT be in Clinton Guccifer
ERROR: 44642 should NOT be in Safe space
ERROR: 85799 should NOT be in Lauer debate
ERROR: 39232 should NOT be in David Brown
ERROR: 71350 should NOT be in David Brown
ERROR: 217425 should be in haiti AND president
ERROR: 217437 should be in haiti AND president
ERROR: 217429 should be in haiti AND president
ERROR: 217426 should be in haiti AND president
ERROR: 217439 should be in haiti AND president
ERROR: 217433 should be in haiti AND president
ERROR: 217422 should be in haiti AND president
ERROR: 217419 should be in haiti AND president
ERROR: 217421 should be in haiti AND president
ERROR: 217432 should be in haiti AND president
ERROR: 217438 should be in haiti AND president
ERROR: 217428 should be in haiti AND president
ERROR: 217420 should be in haiti AND president
ERROR: 217435 should be in haiti AND president
ERROR: 217431 should be in haiti AND president
ERROR: 217427 should be in haiti AND president
ERROR: 217418 should be in haiti AND president
ERROR: 217424 should be in haiti AND president
ERROR: 217430 should be in haiti AND president
ERROR: 217500 should be in inflation AND economy AND fed
ERROR: 217497 should be in inflation AND economy AND fed
ERROR: 217504 should be in inflation AND economy AND fed
ERROR: 217495 should be in inflation AND economy AND fed
ERROR: 217501 should be in inflation AND economy AND fed
ERROR: 217503 should be in inflation AND economy AND fed
ERROR: 217496 should be in inflation AND economy AND fed
ERROR: 217509 should be in inflation AND economy AND fed
ERROR: 217506 should be in inflation AND economy AND fed
ERROR: 217513 should be in inflation AND economy AND fed
ERROR: 217512 should be in inflation AND economy AND fed
ERROR: 217505 should be in inflation AND economy AND fed
ERROR: 217499 should be in inflation AND economy AND fed
ERROR: 217494 should be in inflation AND economy AND fed
ERROR: 217502 should be in inflation AND economy AND fed
ERROR: 217508 should be in inflation AND economy AND fed
ERROR: 217511 should be in inflation AND economy AND fed
ERROR: 217445 should be in afghanistan AND war AND end
ERROR: 217456 should be in afghanistan AND war AND end
ERROR: 217452 should be in afghanistan AND war AND end
ERROR: 217453 should be in afghanistan AND war AND end
ERROR: 217464 should be in afghanistan AND war AND end
ERROR: 217459 should be in afghanistan AND war AND end
ERROR: 217455 should be in afghanistan AND war AND end
ERROR: 217447 should be in afghanistan AND war AND end
ERROR: 217448 should be in afghanistan AND war AND end
ERROR: 217450 should be in afghanistan AND war AND end
ERROR: 217458 should be in afghanistan AND war AND end
ERROR: 217460 should be in afghanistan AND war AND end
ERROR: 217457 should be in afghanistan AND war AND end
ERROR: 217443 should be in afghanistan AND war AND end
ERROR: 217444 should be in afghanistan AND war AND end
ERROR: 217446 should be in afghanistan AND war AND end
ERROR: 217454 should be in afghanistan AND war AND end
ERROR: 217461 should be in afghanistan AND war AND end
ERROR: 217462 should be in afghanistan AND war AND end
ERROR: 217451 should be in afghanistan AND war AND end
ERROR: 217449 should be in afghanistan AND war AND end
ERROR: 217463 should be in afghanistan AND war AND end
ERROR: 217502 should NOT be in capitol AND riot AND trump
ERROR: 217511 should NOT be in capitol AND riot AND trump
ERROR: 217479 should NOT be in capitol AND riot AND trump
ERROR: 217478 should NOT be in capitol AND riot AND trump
ERROR: 217508 should NOT be in capitol AND riot AND trump
ERROR: 217488 should NOT be in capitol AND riot AND trump
ERROR: 217485 should NOT be in capitol AND riot AND trump
ERROR: 217538 should be in capitol AND riot AND trump
ERROR: 217516 should be in capitol AND riot AND trump
ERROR: 217518 should be in capitol AND riot AND trump
ERROR: 217519 should be in capitol AND riot AND trump
ERROR: 217520 should be in capitol AND riot AND trump
ERROR: 217521 should be in capitol AND riot AND trump
ERROR: 217522 should be in capitol AND riot AND trump
ERROR: 217523 should be in capitol AND riot AND trump
ERROR: 217525 should be in capitol AND riot AND trump
ERROR: 217526 should be in capitol AND riot AND trump
ERROR: 217528 should be in capitol AND riot AND trump
ERROR: 217529 should be in capitol AND riot AND trump
ERROR: 217530 should be in capitol AND riot AND trump
ERROR: 217531 should be in capitol AND riot AND trump
ERROR: 217532 should be in capitol AND riot AND trump
ERROR: 217533 should be in capitol AND riot AND trump
ERROR: 217534 should be in capitol AND riot AND trump
ERROR: 217535 should be in capitol AND riot AND trump
ERROR: 217475 should be in critical AND race AND theory
ERROR: 217477 should be in critical AND race AND theory
ERROR: 217470 should be in critical AND race AND theory
ERROR: 217473 should be in critical AND race AND theory
ERROR: 217468 should be in critical AND race AND theory
ERROR: 217467 should be in critical AND race AND theory
ERROR: 217480 should be in critical AND race AND theory
ERROR: 217487 should be in critical AND race AND theory
ERROR: 217481 should be in critical AND race AND theory
ERROR: 217471 should be in critical AND race AND theory
ERROR: 217484 should be in critical AND race AND theory
ERROR: 217486 should be in critical AND race AND theory
ERROR: 217474 should be in critical AND race AND theory
ERROR: 217476 should be in critical AND race AND theory
ERROR: 217478 should be in critical AND race AND theory
ERROR: 217479 should be in critical AND race AND theory
ERROR: 217485 should be in critical AND race AND theory
ERROR: 217488 should be in critical AND race AND theory

WARNING:root:tfidfVector shape: (421, 4727)

### lets generate a confusion matrix to evaluate our results

In [399]:
true_labels= pd.read_csv(r"C:\Users\goldm\Capstone\full_article_classifications_v1.csv")

In [400]:
true_labels.columns = ['id','true-label']
true_labels.head()

       id     true-label
0  151832  Trump meeting
1  110126  Trump meeting
2  172078  Trump meeting
3   48306  Trump meeting
4   57365  Trump meeting

In [402]:
len(true_labels)

174

In [401]:
predicted_mappings_df = pd.read_csv(r"C:\Users\goldm\Capstone\PredictedMappingsv4-storythreshold=0.26.csv")

In [403]:
predicted_mappings_df.head()

,Unnamed: 0,root_article,article_compared,predicted_mapping,"true_mapping""",FP/FN/TP/TN,score
0,0,"227 151832\nName: id, dtype: int64",151832,Trump meeting,TP,1.0000000000000004,NaN
1,1,"227 151832\nName: id, dtype: int64",48306,Trump meeting,TP,0.42140893269377533,NaN
2,2,"227 151832\nName: id, dtype: int64",172078,Trump meeting,TP,0.40039220520430624,NaN
3,3,"227 151832\nName: id, dtype: int64",110126,Trump meeting,TP,0.37401423503171455,NaN
4,4,"227 151832\nName: id, dtype: int64",26536,Trump meeting,TP,0.3469127131230455,NaN

In [394]:
predicted_mappings_df = predicted_mappings_df[['article_compared','cateogry ID']]
predicted_mappings_df.columns = ['id','predicted_label']

In [396]:
predicted_mappings_df.drop_duplicates()
true_labels.drop_duplicates()

         id                     true-label
0    151832                  Trump meeting
1    110126                  Trump meeting
2    172078                  Trump meeting
3     48306                  Trump meeting
4     57365                  Trump meeting
..      ...                            ...
169  217509  inflation AND economy AND fed
170  217510  inflation AND economy AND fed
171  217511  inflation AND economy AND fed
172  217513  inflation AND economy AND fed
173  217514  inflation AND economy AND fed

[174 rows x 2 columns]

In [283]:
len(predicted_mappings_df)

613

In [390]:
predicted_mappings_df.head()
predicted_mappings_df[predicted_mappings_df['id'] == 151832]

          id     true-label
0     151832  Trump meeting
350   151832     No Mapping
481   151832     No Mapping
663   151832     No Mapping
1291  151832     No Mapping
1509  151832     No Mapping
1877  151832     No Mapping
2050  151832     No Mapping
2057  151832     No Mapping
2328  151832     No Mapping
2556  151832     No Mapping
2598  151832     No Mapping
2799  151832     No Mapping
3487  151832     No Mapping
3748  151832     No Mapping
3865  151832     No Mapping

In [284]:
# left join the predictions to the true labels
combined_matrix_df = combined_true_labels_df.merge(predicted_mappings_df, how='inner', on='id')
combined_matrix_df.head()

       id   true_label_x   true_label_y
0  151832  Trump meeting  Trump meeting
1  151832  Trump meeting     No Mapping
2  110126  Trump meeting  Trump meeting
3  110126  Trump meeting     No Mapping
4  172078  Trump meeting  Trump meeting

In [260]:
combined_matrix_df.sort_values(by=['id'])

         id                true_label_x                true_label_y
17    21499               Trump meeting                  No Mapping
16    21499               Trump meeting               Trump meeting
39    21502          Brazil impeachment          Brazil impeachment
38    21502          Brazil impeachment                  No Mapping
18    23872               Trump meeting               Trump meeting
..      ...                         ...                         ...
361  217536  capitol AND riot AND trump  capitol AND riot AND trump
362  217537  capitol AND riot AND trump                  No Mapping
363  217537  capitol AND riot AND trump  capitol AND riot AND trump
364  217538  capitol AND riot AND trump                  No Mapping
365  217538  capitol AND riot AND trump                  No Mapping

[366 rows x 3 columns]

In [261]:
combined_matrix_df[combined_matrix_df['id'] == 151832]

       id   true_label_x   true_label_y
0  151832  Trump meeting  Trump meeting
1  151832  Trump meeting     No Mapping

In [245]:
combined_true_labels_df[combined_true_labels_df['id'] == 151832]

       id     true_label
0  151832  Trump meeting

In [265]:
combined_matrix_df = combined_matrix_df.drop_duplicates(subset=['id'])
combined_matrix_df[combined_matrix_df['id'] == 217537]

         id                true_label_x true_label_y
362  217537  capitol AND riot AND trump   No Mapping